<?xml version="1.0" ?>
<launch>

  <!--<node pkg="control" type="control" name="control"/>-->

  <node pkg="control" type="zlis42_sender" name="zlis42_sender"/>
  <node pkg="control" type="zlis42_receiver" name="zlis42_receiver"/>
  <node pkg="control" type="zlac706_sender" name="zlac706_sender"/>
  <node pkg="control" type="zlac706_receiver" name="zlac706_receiver"/>


</launch>
